@keyframes animatedBackground {
  0%,100%  {
    background-position: 0 0;
    background-image: url("../public/images/alexander-grey-p203ekCK4Ac-unsplash.jpg");
  }
   33% {
    background-position: 1% 1%;
    background-image: url("../public/images/pawel-czerwinski-slJUHpQEC0k-unsplash.jpg");
  }
  66% {

    background-position: 2% 2%;
    background-image: url("../public/images/jr-korpa-jD1huE0iPk0-unsplash.jpg");
  }
}

.mainBackground2 {
  background-image: url(../public/images/alexander-grey-p203ekCK4Ac-unsplash.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 150s linear infinite alternate;
}

.mainBackground {
  background-color: black;
}